#user-list
{
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 10%;
    background-color: white;
}

tr {
    margin-top: 25px;
}

#container {
    width: 60%;
    background-color: #f0f0f0;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}


@media (max-width:415px) {

    #container {
        width: 90%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}